<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="row">
    <div class="col-sm">
      <input type="number" required name="amount" style="width: 100px;" class="input form-control"
        style="width: 120px; height: 40px;" placeholder="Amount" [ngModel]="item.amount">
    </div>
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
        </div>
        <input type="text" required name="description" class="input form-control" style="width: 360px; height: 40px;"
          placeholder="text" [ngModel]="item.description" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="col-sm">
      <input type="date" required name="date" class="input form-control" style="width: 180px; height: 40px;"
        placeholder="date" [ngModel]="item.date" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="col-sm">
      <button type="submit" class="button btn btn-primary" style="height: 40px; width: 100px;"
        [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" [disabled]="!itemForm.valid">
        <p *ngIf="isNewItem">Add</p>
        <p *ngIf="!isNewItem">Save</p>
      </button>
    </div>
  </div>
</form>